.newsBlock {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    margin-right: 97px;
    margin-top: 130px;
}

.title,
.header {
    color: #0D0842;
    font-family: Montserrat;
}


.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.newsContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.news1Container {
    padding: 13px 0 19px 38px;
    width: 610px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}

.news2Container {
    padding: 13px 0 19px 38px;
    width: 610px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    background: #FFCE1A;
    width: 50px;
    height: 2px;
}

.text {
    width: 386px;
    color: #0D0842;
    font-family: Nunito Sans;
    font-size: 14px;
}

.iconArrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}