.text,
.inputText,
.inputButton {
    font-family: Nunito Sans;
}

.text {
    width: 454px;
    color: #0D0842;
    font-size: 16px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    margin-top: 38px;
}

.inputText {
    padding: 7px 73px 7px 25px;
    color: rgba(108, 108, 108, 0.50);
    font-size: 16px;
    border: solid 1px #FFCE1A;
    border-radius: 8px 0 0 8px;
}

.inputButton {
    padding: 7px 49px;
    color: #FFFFF8;
    background-color: #FFCE1A;
    text-align: center;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
}